
673 
NWUS20 KWNS 221215
STADTS
  
                        SPC TORNADO AND SEVERE THUNDERSTORM REPORTS
               UNOFFICIAL - FOR OFFICIAL REPORTS, SEE PUBLICATION 'STORM DATA'
                    FOR 06CST WED JUN 21  2006 THRU 06CST THU JUN 22  2006
  
      EVENT    LOCATION                       REMARKS                 (CST)TIME
  
  .....TORNADO REPORTS..........TORNADO REPORTS..........TORNADO REPORTS.....
  
   1 *TORN  1 NE JONESVILLE MI      (20 SSW JXN)                        21/1535
                                                           IWX/LSR   4199 8465
   2 *TORN  3 S ADDISON MI      (23 SSE JXN)                            21/1547
            POSSIBLE TORNADO REPORTED AT BURTON ROAD WITH  DTX/LSR   4194 8435
                    TREES DOWN.
   3 *TORN  1 SE LAMBERTVILLE MI      (13 NE TOL)                       21/1655
            PUBLIC REPORTED TORNADO TOUCHDOWN NEAR THE     DTX/LSR   4174 8361
                    INTERSECTION OF STERNS
   4 *TORN  NARKA KS      (29 NNE CNK)                                  21/1755
            BRIEF TOUCHDOWN                                TOP/LSR   3996 9743
   5 *TORN  15 NE SUNDRAY TX      (34 NNW BGD)                          21/1810
            NEAR ROADS 1060 AND HW 520 IN SE SHERMAN COUNTYAMA/LSR   361710163
                    MOVING INTO HANSFORD C
   6 *TORN  6 NE KIRK CO      (32 NNW ITR)                              21/1846
                                                           GLD/LSR   396810252
   7 *TORN  10 N CHEYENNE WELLS CO      (19 S ITR)                      21/1905
                                                           GLD/LSR   389610235
  
  
 .......LRG HAIL/STRONG WIND RPTS.............LRG HAIL/STRONG WIND RPTS......                                                        
  
 272  G 52  BROOKFIELD WI      (12 NW MKE)                              21/0605
            TREE LIMBS DOWN.                               MKX/LSR   4306 8812
 172  WNDG  MILWAUKEE WI      (8 NNW MKE)                               21/0606
            POWER LINES DOWN ON POTTER ROAD.               MKX/LSR   4306 8797
 173  WNDG  OAK CREEK WI      (4 S MKE)                                 21/0615
            TREES AND POWER LINES DOWN AT PUETZ ROAD AND   MKX/LSR   4288 8790
                    CHICAGO.
 174  WNDG  BAYSIDE WI      (14 N MKE)                                  21/0625
            POWER LINES DOWN.                              MKX/LSR   4318 8790
 175  WNDG  MEQUON WI      (19 NNW MKE)                                 21/0632
            TWO TREES AND NUMEROUS POWERLINES DOWN.        MKX/LSR   4324 8799
 176  WNDG  HUSTISFORD WI      (39 ENE MSN)                             21/0638
            TREE DOWN.                                     MKX/LSR   4335 8860
 177  WNDG  MILWAUKEE WI      (8 NNW MKE)                               21/0641
            TREE DAMAGE AND POWER LINES DOWN NEAR 25TH AND MKX/LSR   4306 8797
                    WELLS.
 178  WNDG  1 N SOUTH WAYNE WI      (42 W JVL)                          21/0649
            TREES DOWN ON MINK FARM ROAD IN WAYNE TOWNSHIP.MKX/LSR   4258 8988
 179  WNDG  WEST BEND WI      (34 NNW MKE)                              21/0655
            WIDESPREAD TREE AND POWERLINE DAMAGE ACROSS A  MKX/LSR   4342 8818
                    CONCENTRATED AREA IN T
 180  WNDG  MILWAUKEE WI      (8 NNW MKE)                               21/0657
            TREES AND POWER LINES DOWN AT WRIGHT AND       MKX/LSR   4306 8797
                    HOLTON.
 181  WNDG  BELOIT WI      (6 S JVL)                                    21/0700
            WIDESPREAD TREE DAMAGE NEAR BELOIT.            MKX/LSR   4252 8902
 182  WNDG  JANESVILLE WI      (3 N JVL)                                21/0701
            WIDESPREAD TREE DAMAGE NEAR JANESVILLE.        MKX/LSR   4268 8902
 183  WNDG  FOND DU LAC WI      (14 SSE OSH)                            21/0705
            TREE DOWN ON THE WEST SIDE OF THE CITY NEAR    MKX/LSR   4377 8845
                    HIGHWAY 41.
 184  WNDG  BROWNTOWN WI      (38 W JVL)                                21/0715
            TREE DOWN.                                     MKX/LSR   4258 8979
 185  WNDG  JEFFERSON IA      (36 SSW FOD)                              21/0730
            TREES AND A STOP SIGN REPORTED DOWN BY MEDIA   DMX/LSR   4202 9438
                    AND ROAD CREWS.
 186  WNDG  ALBANY WI      (20 WNW JVL)                                 21/0745
            TREES DOWN IN THE VILLAGE OF ALBANY.           MKX/LSR   4271 8944
 187  WNDG  3 S FESTINA IA      (44 NE ALO)                             21/0943
            TREE DAMAGE. EST. 70 MPH.                      ARX/LSR   4308 9187
 188  WNDG  4 SSE LUDLOW IA      (50 SSW LSE)                           21/1005
            3 INCH LIMBS OFF TREES.                        ARX/LSR   4318 9156
 189  WNDG  2 SW NASHVILLE NC      (8 NNW RWI)                          21/1110
            TREES BLOWN DOWN AS REPORTED BY 911            RAH/LSR   3595 7798
                    DISPATCHERS.
 190  WNDG  PINETOPS NC      (14 ESE RWI)                               21/1125
            LARGE LIMBS BLOWN DOWN. ALSO WATER ON          RAH/LSR   3579 7764
                    ROADWAYS...GENERALLY U
 191  WNDG  CLAYTON NC      (23 SE RDU)                                 21/1150
            SEVERAL TREES DOWN                             RAH/LSR   3565 7846
 192  WNDG  5 N BLACK CREEK NC      (9 S RWI)                           21/1150
            NUMEROUS TREES DOWN                            RAH/LSR   3571 7793
 193  WNDG  5 NW BENSON NC      (31 SSE RDU)                            21/1155
            SEVERAL TREES DOWN                             RAH/LSR   3543 7861
 194  WNDG  5 N BENSON NC      (31 SSE RDU)                             21/1155
            SEVERAL TREES DOWN                             RAH/LSR   3545 7855
 196  WNDG  5 SE FREMONT NC      (3 NE GSB)                             21/1200
            SPORADIC TREES OF VARIOUS SIZES BLOWN DOWN.    RAH/LSR   3549 7791
 195  WNDG  17 ESE BABBITT MN      (25 NNW BFW)                         21/1200
            SMALL TREES DOWN EAST OF INTERSECTION OF HWY 1 DLH/LSR   4755 9160
                    AND HWY 2...NEAR MCDOU
 197  WNDG  3 NNE PARDEEVILLE WI      (29 N MSN)                        21/1207
            SHINGLES BLOWN OFF GARAGE ROOF. 1 FOOT DIAMETERMKX/LSR   4357 8928
                    TREE LIMBS SNAPPED OFF
 198  WNDG  PRINCETON NC      (10 W GSB)                                21/1220
            SEVERAL TREES DOWN.                            RAH/LSR   3547 7816
 199  WNDG  3 SSE SPRING CITY TN      (24 SSE CSV)                      21/1230
            SEVERAL TREES DOWN ON AND ALONG HIGHWAY 60.    MRX/LSR   3565 8484
                    REPORTED BY SHERIFFS D
 200  WNDG  GOLDSBORO NC      (4 S GSB)                                 21/1238
            MANY TREES DOWN AND POWER OUT IN THE CITY OF   RAH/LSR   3537 7798
                    GOLDSBORO.
 201  WNDG  DUNGANNON VA      (24 N TRI)                                21/1305
            A FEW TREES DOWN IN DUNGANNON. REPORTED BY     MRX/LSR   3683 8247
                    SHERIFFS DISPATCH.
 202  WNDG  EASTOVER NC      (9 NE FAY)                                 21/1335
            POWER LINES DOWN ON MIDDLE ROAD IN EASTOVER.   RAH/LSR   3510 7878
 203  WNDG  MASS CITY MI      (39 SW CMX)                               21/1411
            TREE BLOWN DOWN TAKING POWER LINE WITH IT      MQT/LSR   4677 8908
 204  WNDG  MODOC GA      (32 N VDI)                                    21/1415
            3-4 TREES DOWN.                                FFC/LSR   3266 8231
  23  A175  16 NW RUSHVILLE NE      (20 E CDR)                          21/1425
            HAIL UP TO GOLFBALL SIZE. 3 INCH LARGE HOLE IN LBF/LSR   428810269
                    GUTTERS. 200 ACRES OF
 205  WNDG  CLEVELAND TN      (20 ENE CHA)                              21/1430
            SEVERAL TREES DOWN IN THE CLEVELAND AREA.      MRX/LSR   3518 8487
                    REPORTED BY DISPATCH.
 206  WNDG  PELKIE MI      (24 SSW CMX)                                 21/1436
            TREES AND POWER LINES DOWN                     MQT/LSR   4682 8863
 207  WNDG  3 S ABERDEEN NC      (9 SSW SOP)                            21/1450
            TREES AND POWER LINES DOWN ON US HIGHWAY       RAH/LSR   3510 7942
                    15-501. OTHER SPORADIC
 208  WNDG  MARCELLUS MI      (18 SW AZO)                               21/1501
            SEVERAL TREES DOWN                             IWX/LSR   4203 8581
 210  WNDG  2 NW THREE RIVERS MI      (18 SSW AZO)                      21/1510
            TREES AND POWER LINES DOWN                     IWX/LSR   4196 8566
 209  WNDG  1 S CONCORD MI      (11 SW JXN)                             21/1510
            SEVERAL TREES DOWN. POSSIBLE TORNADO.          GRR/LSR   4216 8464
 211  WNDG  3 W MIDLAND GA      (3 NE CSG)                              21/1515
            AT LEAST 6 TREES DOWN JUST WEST OF MIDLAND.    FFC/LSR   3257 8488
 212  WNDG  WAGRAM NC      (23 S SOP)                                   21/1520
            TREES BLOWN DOWN.                              RAH/LSR   3489 7937
  36  A125  2 S MARSHALL MI      (24 W JXN)                             21/1520
                                                           GRR/LSR   4223 8496
  38  A175  LA PAZ IN      (16 S SBN)                                   21/1523
                                                           IWX/LSR   4146 8631
  39  A175  LA PAZ IN      (16 S SBN)                                   21/1523
                                                           IWX/LSR   4146 8631
  42  A200  THREE RIVERS MI      (19 SSW AZO)                           21/1527
                                                           IWX/LSR   4194 8563
  43  A200  BREMEN IN      (18 SSE SBN)                                 21/1529
                                                           IWX/LSR   4145 8615
 213  WNDG  1 NW HILLSDALE MI      (24 SSW JXN)                         21/1535
            WINDOWS BLOWN OUT OF HOMES AND BUSINESSES.     IWX/LSR   4194 8465
 214  WNDG  2 N COLDWATER MI      (33 ESE AZO)                          21/1537
            SEVERAL TREES DOWN                             IWX/LSR   4197 8500
 215  WNDG  BURBANK IL      (11 SW CGX)                                 21/1539
            GUST TO 48 MPH. WIND FLIPPED OVER SMALL        LOT/LSR   4174 8777
                    AIRCRAFT AND MOVED 3 O
  48  A150  11 W BOISE CITY OK      (31 NE CAO)                         21/1546
                                                           AMA/LSR   367310271
  49  A125  STURGIS MI      (29 SSE AZO)                                21/1547
                                                           IWX/LSR   4180 8542
 275  G 56  5 SW MARSHALL MI      (26 E AZO)                            21/1558
            65 MPH WIND AT 12TH AND A STREET               GRR/LSR   4221 8503
 216  WNDG  4 NNE DENMARK SC      (16 WSW OGB)                          21/1600
            NUMEROUS TREES DOWN NEAR AND NORTH OF          CAE/LSR   3337 8112
                    DENMARK...INCLUDING SH
 276  G 58  LA JUNTA CO      (4 SSW LHX)                                21/1607
                                                           PUB/LSR   379810354
 217  WNDG  1 S BLENHEIM SC      (21 N FLO)                             21/1610
            TREES DOWN.                                    ILM/LSR   3450 7965
  55  A175  4 N ADRIAN MI      (23 SW ARB)                              21/1613
            REPORTED AT THE INTERSECTION OF EMERY ROAD AND DTX/LSR   4196 8404
                    TIPTON HIGHWAY.
 218  WNDG  BRITTON MI      (16 SSW ARB)                                21/1623
            4 FT. DIAMETER HEALTHY TREES DOWNED ON BRITTON DTX/LSR   4199 8383
                    HWY JUST NORTH OF M-50
 219  WNDG  2 W MAZON IL      (13 SE MMO)                               21/1623
            2-1/2 FOOT DIAMETER TREE DOWN. INTERSECTION OF LOT/LSR   4124 8846
                    GRAND RIDGE AND WARD R
 220  WNDG  LATTA SC      (19 ENE FLO)                                  21/1631
            TREES REPORTED BLOWN DOWN BY DILLON COUNTY     ILM/LSR   3434 7943
                    SHERIFFS OFFICE. TIME
  62  A150  TECUMSEH MI      (17 SW ARB)                                21/1632
            REPORTED ON M-50 NORTH OF DOWNTOWN.            DTX/LSR   4201 8394
 277  G 58  LA JUNTA CO      (4 SSW LHX)                                21/1634
                                                           PUB/LSR   379810354
 221  WNDG  DARLINGTON SC      (11 NW FLO)                              21/1635
            TELEPHONE POLES DOWN.                          ILM/LSR   3430 7987
 222  WNDG  MICHIGAN CITY IN      (18 NNE VPZ)                          21/1640
            NUMEROUS TREES AND POWER LINES DOWN FROM       IWX/LSR   4171 8688
                    MICHIGAN CITY TO LONG
 223  WNDG  EVERGREEN NC      (38 S FAY)                                21/1640
            TREES DOWN.                                    ILM/LSR   3442 7890
 278  G 70  MICHIGAN CITY IN      (18 NNE VPZ)                          21/1640
                                                           IWX/LSR   4171 8688
 224  WNDG  COFFEEVILLE MS      (28 SSW UOX)                            21/1647
            TREE DOWN ALONG WITH A FEW POWER LINES.        MEG/LSR   3398 8968
  69  A300  2 WSW AGENDA KS      (13 NE CNK)                            21/1649
                                                           TOP/LSR   3970 9747
 225  WNDG  1 W DUNDEE MI      (17 SSE ARB)                             21/1650
            TREES DOWN NEAR MILE MARKER 20 ON US-23.       DTX/LSR   4196 8368
  70  A175  DUNDEE MI      (18 SSE ARB)                                 21/1650
                                                           DTX/LSR   4196 8366
 279  G 52  IDA MI      (23 SSE ARB)                                    21/1650
            REPORTED AT THE INTERSECTION OF MOROCCO AND    DTX/LSR   4191 8357
                    SECOR. 1/2-INCH HAIL W
 227  WNDG  1 N ADRIAN MI      (25 NNW TOL)                             21/1655
            POLE DOWN ON ROADWAY                           DTX/LSR   4191 8404
 226  WNDG  BERKEY OH      (8 N TOL)                                    21/1655
            LARGE LIMBS DOWN.                              CLE/LSR   4171 8383
 228  WNDG  WANATAH IN      (5 ESE VPZ)                                 21/1700
            TREE BLOWN DOWN                                IWX/LSR   4143 8689
 280  G 65  7 S AMARILLO TX      (9 SW AMA)                             21/1700
            EMERGENCY MANAGEMENT RELAYED A REPORT OF 75 MPHAMA/LSR   351010182
                    WINDS AT OSAGE AND LOO
 229  WNDG  4 NW KNOX IN      (18 ESE VPZ)                              21/1704
            TREE DOWN                                      IWX/LSR   4133 8668
 281  G 52  7 W CLAUDE TX      (14 ESE AMA)                             21/1704
                                                           AMA/LSR   351110149
 230  WNDG  1 SW TEMPERANCE MI      (16 NE TOL)                         21/1705
            REPORTED TREES DOWN DUE TO A POSSIBLE TORNADO. DTX/LSR   4176 8359
 231  WNDG  10 S LAS ANIMAS CO      (18 ESE LHX)                        21/1708
            10 POWER POLES SNAPPED...SEMI TRAILER ON ITS   PUB/LSR   379210322
                    SIDE ON HWY 101
  75  A175  AGENDA KS      (14 NE CNK)                                  21/1711
                                                           TOP/LSR   3971 9743
  74  A175  BERKEY OH      (8 N TOL)                                    21/1711
                                                           CLE/LSR   4171 8383
 232  WNDG  2 NNE ADRIAN MI      (24 SW ARB)                            21/1711
            TREE DOWN AT SPIELMAN HEIGHTS                  DTX/LSR   4192 8403
 233  WNDG  2 SW MICHIGAN CITY IN      (17 NNE VPZ)                     21/1713
            NUMEROUS TREES AND LARGE LIMBS DOWN WITH SOME  IWX/LSR   4169 8690
                    ROADS CLOSED.
  82  A175  2 W FOWLER KS      (29 SSW DDC)                             21/1726
                                                           DDC/LSR   373810023
 235  WNDG  SAINT GEORGE SC      (24 SE OGB)                            21/1730
            TREE DOWN ON A POWER LINE.                     CHS/LSR   3319 8058
 234  WNDG  BOWMAN SC      (11 SE OGB)                                  21/1730
            TREE DOWN ON A ROAD IN THE TOWN OF BOWMAN.     CAE/LSR   3335 8068
                    REPORTED BY BOWMAN PD.
 282  G 54  SPRINGFIELD CO      (8 N SPD)                               21/1730
                                                           PUB/LSR   374110262
  84  A125  TURPIN OK      (12 SSE LBL)                                 21/1730
            HALF DOLLAR SIZE HAIL REPORTED IN TURPIN       AMA/LSR   368710088
  83  A150  LOWELL IN      (23 WSW VPZ)                                 21/1730
                                                           LOT/LSR   4129 8741
 236  WNDG  4 E WILMINGTON IL      (31 E MMO)                           21/1732
            CLUSTER OF 3 LARGE TREES DOWN.                 LOT/LSR   4130 8808
  92  A150  KANOPOLIS KS      (27 WSW SLN)                              21/1744
                                                           ICT/LSR   3871 9816
 237  WNDG  OAK HARBOR OH      (33 E TOL)                               21/1745
            A FEW LIMBS DOWN.                              CLE/LSR   4151 8315
 238  WNDG  6 E ADAMS OK      (19 S LBL)                                21/1750
            WIND DAMAGE ON BEAVER/TEXAS COUNTY LINE AT THE AMA/LSR   367510097
                    INTERSECTION OF 59 AND
  93  A175  DUNDEE MI      (18 SSE ARB)                                 21/1750
                                                           DTX/LSR   4196 8366
  94  A125  CLYDE KS      (12 ENE CNK)                                  21/1754
                                                           TOP/LSR   3959 9740
  96  A175  7 E LARNED KS      (47 S RSL)                               21/1755
                                                           DDC/LSR   3818 9897
  97  A175  6 E MONTEZUMA KS      (21 WSW DDC)                          21/1756
                                                           DDC/LSR   376010033
 239  WNDG  NEW PARIS OH      (29 W DAY)                                21/4764
            TREES DOWN                                     ILN/LSR   3986 8479
 240  WNDG  11 ENE SOPERTON GA      (17 N VDI)                          21/1800
            PUBLIC REPORTED SEVERAL TREES AND POWER LINES  FFC/LSR   3244 8242
                    AS WELL AS SOME SHINGL
  98  A175  15 NW ST. JOHN KS      (49 S RSL)                           21/1800
                                                           DDC/LSR   3815 9896
 101  A125  1 N AURORA KS      (8 SE CNK)                               21/1803
                                                           TOP/LSR   3947 9753
 100  A275  16 W BLOOM KS      (21 SSW DDC)                             21/1803
                                                           DDC/LSR   374810017
 241  WNDG  2 SE ALLENDALE SC      (40 SW OGB)                          21/1806
            LARGE TREE DOWN BLOCKING BLUFF ROAD IN THE     CHS/LSR   3299 8128
                    SAINT MARK AREA.
 103  A175  5 S ENSIGN KS      (18 SW DDC)                              21/1806
                                                           DDC/LSR   375810023
 104  A150  TURPIN OK      (12 SSE LBL)                                 21/1811
            SO RELAYED REPORT OF 1 TO 2 INCH HAIL IN THE   AMA/LSR   368710088
                    STORMS NEAR TURPIN.
 105  A175  1 SSW DODGE CITY KS      (2 WSW DDC)                        21/1813
                                                           DDC/LSR   377510002
 283  G 61  19 SW SYRACUSE KS      (41 ESE LAA)                         21/1815
                                                           DDC/LSR   377910200
 107  A300  3 SSE HEBRON NE      (39 N CNK)                             21/1818
                                                           GID/LSR   4013 9757
 242  WNDG  GIFFORD SC      (46 SSW OGB)                                21/1819
            TREES DOWN.                                    CHS/LSR   3286 8124
 108  A175  6 W MONTEZUMA KS      (24 SSE GCK)                          21/1820
                                                           DDC/LSR   376010055
 284  G 65  2 N KENDALLVILLE IN      (33 N FWA)                         21/1822
            NUMEROUS TREE LIMBS DOWN                       IWX/LSR   4147 8526
 109  A175  15 NW CLAY CENTER KS      (17 E CNK)                        21/1825
                                                           TOP/LSR   3953 9732
 285  G 52  1 SSW DODGE CITY KS      (2 WSW DDC)                        21/1825
            ONE INCH DIAMETER TREE LIMB DOWN.              DDC/LSR   377510002
 243  WNDG  SANDUSKY OH      (43 W CLE)                                 21/1830
            A FEW LARGE LIMBS DOWN.                        CLE/LSR   4146 8271
 287  G 61  12 W CLAY CENTER KS      (19 SE CNK)                        21/1830
                                                           TOP/LSR   3938 9735
 286  G 61  6 NW MANTER KS      (40 N EHA)                              21/1830
            SIX INCH LIVE TREE BRANCH BLOWN DOWN.          DDC/LSR   375910196
 288  G 60  JOHNSON CITY KS      (39 NNE EHA)                           21/1834
 111  A275  HEBRON NE      (42 N CNK)                                   21/1834
            GOLFBALL TO BASEBALL SIZED HAIL REPORTED 1 MILEGID/LSR   4017 9759
                    NORTH AND 1 MILE EAST
 112  A175  MILTONVALE KS      (17 SE CNK)                              21/1837
                                                           TOP/LSR   3935 9745
 244  WNDG  2 E MILLPORT AL      (23 ESE CBM)                           21/1841
            TREES DOWN.                                    BMX/LSR   3356 8805
 289  G 61  2 SSW NORTH WEBSTER IN      (34 NW FWA)                     21/1841
                                                           IWX/LSR   4130 8571
 245  WNDG  PERRYSBURG OH      (9 ESE TOL)                              21/1844
            A FEW TREES DOWN AND ONE ON A HOUSE.           CLE/LSR   4155 8362
 116  A175  4 SW VERNON CO      (44 N ITR)                              21/1845
                                                           GLD/LSR   398910237
 291  G 61  SPEARVILLE KS      (12 ENE DDC)                             21/1852
                                                           DDC/LSR   3785 9975
 293  G 52  15 SE SYRACUSE KS      (46 W GCK)                           21/1900
                                                           DDC/LSR   378310156
 292  G 61  17 NW JOHNSON CITY KS      (44 ESE LAA)                     21/1900
                                                           DDC/LSR   377410197
 125  A150  4 ESE BRUNING NE      (38 W BIE)                            21/1903
                                                           GID/LSR   4031 9749
 246  WNDG  9 S ULYSSES KS      (34 NW LBL)                             21/1905
            GARAGE DESTROYED AND HIT TRAILER.              DDC/LSR   374510136
 294  G 52  5 ESE BRUNING NE      (38 W BIE)                            21/1909
                                                           GID/LSR   4031 9748
 247  WNDG  10 NNW BUFFALO OK      (46 N GAG)                           21/1910
            HIGH LINE POWER POLES DOWNED BY STRONG WINDS.  OUN/LSR   3697 9970
 129  A150  2 SSW IDANA KS      (24 SE CNK)                             21/1914
                                                           TOP/LSR   3933 9728
 249  WNDG  WESTLAKE OH      (4 WNW CLE)                                21/1915
            ONE TREE DOWN AND A LARGE LIMB.                CLE/LSR   4145 8193
 248  WNDG  FREMONT OH      (36 NE FDY)                                 21/1915
            FEW LIMBS DOWN.                                CLE/LSR   4135 8311
 295  G 88  16 SW LAKIN KS      (41 WSW GCK)                            21/1915
            RELAYED BY LAW ENFORCEMENT.                    DDC/LSR   377810147
 130  A175  SYLVANIA OH      (9 NNE TOL)                                21/1917
                                                           CLE/LSR   4171 8371
 250  WNDG  3 NW BOWLING GREEN OH      (12 SSE TOL)                     21/1920
            TWO LARGE LIMBS DOWN.                          CLE/LSR   4141 8369
 296  G 52  4 S OHIOWA NE      (36 W BIE)                               21/1920
                                                           GID/LSR   4036 9745
 297  G 52  BRYAN OH      (39 W TOL)                                    21/1923
            SEVERAL TREES DOWN AND PEA SIZE HAIL           IWX/LSR   4147 8455
 133  A175  3 ESE OHIOWA NE      (34 WNW BIE)                           21/1925
                                                           GID/LSR   4040 9740
 298  G 61  7 SSE HANSTON KS      (24 NE DDC)                           21/1930
            THREE INCH TREE LIMBS BLOWN DOWN.              DDC/LSR   3803 9966
 135  A175  18 N BETHUNE CO      (23 NNW ITR)                           21/1930
                                                           GLD/LSR   395610242
 134  A275  4 WNW VERNON CO      (46 ESE AKO)                           21/1930
                                                           GLD/LSR   399610239
 138  A175  TOBIAS NE      (31 WNW BIE)                                 21/1934
                                                           OAX/LSR   4042 9734
 251  WNDG  LAKIN KS      (28 W GCK)                                    21/1935
            NUMEROUS POWER POLES DOWN IN TOWN. ONE POLE    DDC/LSR   379410126
                    LANDED ON HOUSE AND DI
 299  G 58  1 NE LAKIN KS      (28 W GCK)                               21/1935
                                                           DDC/LSR   379510125
 139  A175  1 N DEFIANCE OH      (34 WSW TOL)                           21/1936
                                                           IWX/LSR   4130 8436
 300  G 52  10 W PERRYTON TX      (34 SE GUY)                           21/1939
            HAM RADIO OPERATER REPORTED WINDS UP TO 60 MPH AMA/LSR   363910098
                    JUST EAST OF COUNTY LI
 252  WNDG  3 N OFFERLE KS      (24 ENE DDC)                            21/1945
            THREE SIDED SHED BLOWN DOWN.                   DDC/LSR   3793 9956
 253  WNDG  3 N OFFERLE KS      (24 ENE DDC)                            21/1945
            THREE SIDED SHED BLOWN DOWN.                   DDC/LSR   3793 9956
 255  WNDG  2 SW ALBION IN      (29 NNW FWA)                            21/1946
            NUMEROUS TREES AND POWER LINES DOWN            IWX/LSR   4137 8545
 254  WNDG  2 SW ALBION IN      (29 NNW FWA)                            21/1946
            NUMEROUS TREES AND POWER LINES DOWN            IWX/LSR   4137 8545
 301  G 52  KINSLEY KS      (32 ENE DDC)                                21/1950
                                                           DDC/LSR   3792 9941
 142  A425  WRAY CO      (43 SW IML)                                    21/1955
                                                           GLD/LSR   400810223
 144  A125  5 NNW LARNED KS      (46 SSW RSL)                           21/2000
                                                           DDC/LSR   3825 9914
 302  G 61  GARDEN CITY KS      (8 WNW GCK)                             21/2001
            3.5 INCH DIAMETER TREE LIMBS DOWN.             DDC/LSR   379810086
 256  WNDG  2 E MILLPORT AL      (23 ESE CBM)                           21/2001
            TREES DOWN.                                    BMX/LSR   3356 8805
 303  G 65  WARREN MI      (12 SW MTC)                                  21/2009
                                                           DTX/LSR   4249 8303
 304  G 61  COPELAND KS      (26 S GCK)                                 21/2009
            POWER OUT.                                     DDC/LSR   375410063
 305  G 57  MONTEZUMA KS      (26 SE GCK)                               21/2015
 257  WNDG  2 N GALATIA KS      (14 SSW RSL)                            21/2015
            2 TO 3 IN DIAMETER TREE LIMBS DOWN.            ICT/LSR   3867 9896
 306  G 52  4 SW WAKEFIELD KS      (20 W MHK)                           21/2017
                                                           TOP/LSR   3917 9706
 147  A125  8 N BETHUNE CO      (13 NNW ITR)                            21/2020
                                                           GLD/LSR   394210242
 307  G 61  CIMARRON KS      (20 W DDC)                                 21/2027
            REPORTS RECEIVED FROM AROUND TOWN              DDC/LSR   378110035
 310  G 52  ABILENE KS      (24 ENE SLN)                                21/2040
                                                           TOP/LSR   3892 9721
 309  G 61  FIRTH NE      (17 NNE BIE)                                  21/2040
                                                           OAX/LSR   4053 9660
 258  WNDG  ABILENE KS      (24 ENE SLN)                                21/2040
            POWER POLES REPORTED BLOWN DOWN ON HIGHWAY 15  TOP/LSR   3892 9721
                    JUST SOUTH OF ABILENE.
 311  G 53  FINDLAY OH      (1 NE FDY)                                  21/2057
                                                           CLE/LSR   4104 8364
 313  G 52  6 SSW SALINA KS      (3 SSW SLN)                            21/2110
                                                           ICT/LSR   3874 9767
 312  G 61  BLOOMVILLE OH      (29 WNW MFD)                             21/2110
                                                           CLE/LSR   4105 8301
 259  WNDG  9 E MCPHERSON KS      (28 NE HUT)                           21/2110
            POWER LINES BLOWN DOWN.                        ICT/LSR   3837 9750
 260  WNDG  TIRO OH      (13 WNW MFD)                                   21/2120
            SEVERAL TREES AND LARGE LIMBS DOWN AND A SHED  CLE/LSR   4091 8277
                    IN THE MIDDLE OF THE R
 261  WNDG  2 S HAYESVILLE OH      (13 ESE MFD)                         21/2125
            FEW TREES AND LARGE LIMBS DOWN AND SOME        CLE/LSR   4075 8226
                    POWERLINES.
 262  WNDG  PLYMOUTH OH      (13 NNW MFD)                               21/2130
            SOME TREES AND LIMBS DOWN.                     CLE/LSR   4099 8267
 314  G 56  7 NNE MCPHERSON KS      (21 S SLN)                          21/2132
                                                           ICT/LSR   3847 9763
 315  G 52  PALMYRA NE      (21 ESE LNK)                                21/2137
                                                           OAX/LSR   4071 9639
 316  G 59  MANSFIELD OH      (3 S MFD)                                 21/2139
                                                           CLE/LSR   4076 8253
 317  G 52  TAMPA KS      (31 ESE SLN)                                  21/2144
                                                           ICT/LSR   3855 9716
 318  G 52  MCPHERSON KS      (23 NNE HUT)                              21/2149
                                                           ICT/LSR   3837 9766
 166  A175  3 E PALMYRA NE      (24 ESE LNK)                            21/2155
                                                           OAX/LSR   4071 9633
 263  WNDG  WOOSTER OH      (26 WSW CAK)                                21/2200
            COUPLE OF TREES DOWN.                          CLE/LSR   4082 8193
 319  G 60  6 SE MUTUAL OK      (38 ESE GAG)                            21/2205
                                                           OUN/LSR   3617 9909
 320  G 52  HILLSBORO KS      (39 SE SLN)                               21/2210
                                                           ICT/LSR   3835 9720
 264  WNDG  CLYDE OH      (40 ENE FDY)                                  21/2246
            FEW TREES DOWN.                                CLE/LSR   4131 8298
 321  G 56  2 N EL DORADO KS      (33 ENE ICT)                          21/2340
                                                           ICT/LSR   3785 9686
 265  WNDG  5 N ASHLAND OH      (12 NE MFD)                             21/2350
            FEW LARGE LIMBS DOWN.                          CLE/LSR   4094 8232
 322  G 52  OSAGE CITY KS      (27 NE EMP)                              22/0015
                                                           TOP/LSR   3863 9583
 266  WNDG  OSAGE CITY KS      (27 NE EMP)                              22/0015
            3 TO 4 INCH TREE LIMBS AND POWER LINES DOWN IN TOP/LSR   3863 9583
                    TOWN.
 267  WNDG  CLYDE OH      (40 ENE FDY)                                  22/0100
            FEW TREES DOWN.                                CLE/LSR   4131 8298
 268  WNDG  KEOSAUQUA IA      (35 SE OTM)                               22/0320
            FULL SHEETS OF GYPSUM WALL BOARD, BLEW OVER A  DVN/LSR   4073 9196
                    ONE STORY HOUSE AND LA
 269  WNDG  MIDDLETOWN IA      (6 WNW BRL)                              22/0430
            4 INCH BRANCH DOWN ON FENCE.                   DVN/LSR   4083 9126
 270  WNDG  WEST BURLINGTON IA      (3 NW BRL)                          22/0445
            LARGE BRANCHES DOWN ON LEFFLER STREET.         DVN/LSR   4082 9118
 271  WNDG  3 NE HAYTI MO      (24 NW DYR)                              22/0527
            DAMAGE REPORTED TO A MOBILE HOME...ONE TREE    MEG/LSR   3626 8971
                    UPROOTED AND TREE LIMB
  
  
 .........OTHER SEVERE REPORTS..................OTHER SEVERE REPORTS.........                                                        
  
 273  G 52  JACKSON WI      (27 NNW MKE)                                21/0612
                                                           MKX/LSR   4332 8816
   8  A100  5 S BARTLETT NE      (29 E BUB)                             21/0714
            HAILED FOR 5 MINUTES                           LBF/LSR   4181 9855
   9  A100  DE PERE WI      (3 ESE GRB)                                 21/0840
            RELAYED FROM LOCAL BROADCAST MEDIA             GRB/LSR   4445 8805
  10  A 75  2 S RICHFIELD IA      (29 NE ALO)                           21/0915
                                                           ARX/LSR   4292 9206
  11  A 88  3 SSE ALLISON IA      (21 WNW ALO)                          21/0941
            REPORTED BY TRAINED SPOTTER.                   DMX/LSR   4272 9278
  12  A 88  4 SSE LUDLOW IA      (50 SSW LSE)                           21/1005
                                                           ARX/LSR   4318 9156
  13  A100  10 SW GUTHRIE CENTER IA      (44 SE DNS)                    21/1020
                                                           DMX/LSR   4159 9466
  14  A100  5 E MENLO IA      (32 W DSM)                                21/1050
                                                           DMX/LSR   4152 9431
  15  A 75  6 W EARLHAM IA      (28 W DSM)                              21/1102
                                                           DMX/LSR   4149 9424
  16  A100  23 N TOFTE MN      (25 WNW GNA)                             21/1105
            HAIL BETWEEN PEA AND QUARTER SIZE...WITH       DLH/LSR   4789 9088
                    POSSIBLE LARGER SIZE B
  17  A 75  FOUNTAIN NC      (18 SE RWI)                                21/1213
                                                           MHX/LSR   3567 7764
  18  A 88  9 NE OSCEOLA IA      (27 S DSM)                             21/1215
                                                           DMX/LSR   4112 9365
  19  A100  GOLD POINT NC      (36 E RWI)                               21/1235
                                                           MHX/LSR   3587 7724
  20  A100  SPRING CITY TN      (20 SE CSV)                             21/1245
            PEA TO QUARTER SIZED HAIL IN SPRING CITY.      MRX/LSR   3569 8486
                    REPORTED BY A STORM SP
  21  A 88  IOWA CITY IA      (17 SSE CID)                              21/1401
            SPOTTER REPORTED PEA TO NICKEL SIZE HAIL NEAR  DVN/LSR   4166 9154
                    THE INTERSECTION OF HW
  22  A 88  MODOC GA      (32 N VDI)                                    21/1415
            HAIL KNOCKED OUT WINDOWS.                      FFC/LSR   3266 8231
  24  A 75  ROCKFISH NC      (10 W FAY)                                 21/1425
            PENNY SIZE HAIL REPORTED BY LAW ENFORCEMENT    RAH/LSR   3498 7907
                    BETWEEN BAREFOOT ROAD
            3/4 INCH HAIL COVERING THE GROUND              TWC/LSR   315711032
  26  A100  5 N THREE RIVERS MI      (14 SSW AZO)                       21/1450
                                                           IWX/LSR   4202 8563
  27  A 75  2 N CLEVELAND TN      (21 ENE CHA)                          21/1457
            PENNY SIZE HAIL REPORTED BY TRAINED SPOTTER    MRX/LSR   3521 8487
  28  A 75  4 SW THATCHER CO      (19 NNE TAD)                          21/1457
                                                           PUB/LSR   375210413
  29  A 88  5 S AMARILLO TX      (8 SW AMA)                             21/1458
            WESTERN AND LOOP 335                           AMA/LSR   351310182
  30  A 88  5 N AMARILLO TX      (8 SW AMA)                             21/1458
            WESTERN AND LOOP 335                           AMA/LSR   351310182
  31  A 75  6 NE GASTON SC      (5 SE CAE)                              21/1458
            PUBLIC REPORTED PENNY SIZE HAIL AT THE PITT    CAE/LSR   3388 8103
                    STOP AT EXIT 119 ON I-
  33  A 75  3 S RICHLAND GA      (35 SSE CSG)                           21/1500
                                                           FFC/LSR   3204 8468
  32  A 75  MIDLAND GA      (5 ENE CSG)                                 21/1500
            STRONG WINDS ALSO KNOCKED OVER A CEMENT        FFC/LSR   3257 8483
                    BIRDBATH AND DESTROYED
  34  A 88  1 S BATTLE CREEK MI      (16 ENE AZO)                       21/1511
                                                           GRR/LSR   4228 8523
  35  A100  5 N PANTEX TX      (13 NNE AMA)                             21/1515
            QUARTER SIZE HAIL REPORTED BY LOCAL MEDIA 5 N  AMA/LSR   354010158
                    OF PANTEX
  37  A100  4 W AMARILLO TX      (9 W AMA)                              21/1520
            QUARTER SIZE HAIL ON AMARILLO BOULEVARD BETWEENAMA/LSR   352010189
                    SONCY AND COULTER
  40  A 75  2 SSW REDBUSH KY      (33 NE JKL)                           21/1525
            HAIL COVERED THE GROUND NEAR ELNA              JKL/LSR   3791 8296
  41  A 75  1 N ELNA KY      (33 NE JKL)                                21/1525
            HAIL COVERED THE GROUND                        JKL/LSR   3793 8297
  44  A 75  HEREFORD TX      (47 SW AMA)                                21/1532
                                                           AMA/LSR   348210240
  45  A100  STRATFORD TX      (34 NE DHT)                               21/1537
                                                           AMA/LSR   363410207
  46  A100  2 NW NAPPANEE IN      (21 SE SBN)                           21/1542
                                                           IWX/LSR   4147 8601
  47  A 75  2 W HUNTINGTON IN      (19 WSW FWA)                         21/1545
                                                           IWX/LSR   4088 8554
  51  A 75  3 SW AMARILLO TX      (8 WSW AMA)                           21/1550
                                                           AMA/LSR   351710186
  50  A100  6 ESE MCBEE SC      (29 NW FLO)                             21/1550
            REPORT OF QUARTER SIZED HAIL NEAR LAKE         CAE/LSR   3443 8016
                    ROBINSON...RELAYED VIA
 274  G 52  DARLINGTON SC      (11 NW FLO)                              21/1557
            50 KNOT WIND GUST RECORDED AT THE DARLINGTON   ILM/LSR   3430 7987
                    COUNTY JETPORT.
  52  A100  BOISE CITY OK      (38 S SPD)                               21/1605
                                                           AMA/LSR   367310251
  53  A100  HUNTINGTON IN      (18 WSW FWA)                             21/1608
                                                           IWX/LSR   4088 8551
  54  A100  PANHANDLE TX      (20 ENE AMA)                              21/1609
            QUARTER SIZE HAIL IN PANHANDLE                 AMA/LSR   353510138
  56  A 88  2 NE STURGIS MI      (28 SSE AZO)                           21/1615
                                                           IWX/LSR   4182 8539
  57  A100  2 SSW BLACKVILLE SC      (26 WSW OGB)                       21/1617
            PUBLIC REPORTED NICKEL TO QUARTER SIZED HAIL INCAE/LSR   3333 8130
                    THE VICINITY OF BARNWE
  58  A100  HILLSDALE MI      (24 SSW JXN)                              21/1620
            SEVERAL REPORTS RECIEVED THROUGH THE COUNTY.   IWX/LSR   4193 8464
  59  A100  CHERAW CO      (3 N LHX)                                    21/1622
            WIND GUSTS TO 50 MPH...HEAVY RAIN              PUB/LSR   381110351
  61  A 75  6 WNW AU TRAIN MI      (28 E MQT)                           21/1625
            HAIL LASTED FIVE MINUTES                       MQT/LSR   4646 8695
  60  A 88  COLDWATER MI      (34 SE AZO)                               21/1625
            ESTIMATED 8 INCH TREE BROKE OFF                IWX/LSR   4194 8500
  63  A 75  1 NW DARLINGTON SC      (12 NW FLO)                         21/1633
            REPORT RELAYED FROM WFO COLUMBIA SC.           ILM/LSR   3431 7988
  64  A 75  2 W KENDALLVILLE IN      (32 N FWA)                         21/1636
                                                           IWX/LSR   4144 8530
  65  A 88  9 S WASHBURN TX      (13 SE AMA)                            21/1637
                                                           AMA/LSR   350510157
  66  A100  6 SW MEADE KS      (32 ENE LBL)                             21/1641
                                                           DDC/LSR   372210042
  67  A100  3 N ITTA BENA MS      (13 WNW GWO)                          21/1643
                                                           JAN/LSR   3354 9032
  68  A 88  ASHLEY IN      (38 N FWA)                                   21/1648
                                                           IWX/LSR   4153 8507
  71  A100  FAIRFIELD MI      (19 NW TOL)                               21/1652
                                                           DTX/LSR   4181 8404
  72  A 75  7 W CLAUDE TX      (14 ESE AMA)                             21/1704
                                                           AMA/LSR   351110149
  73  A 75  5 ENE NEDERLAND CO      (20 E 4FC)                          21/1705
                                                           BOU/LSR   399910542
  76  A 88  3 NW SPEARMAN TX      (33 SSE GUY)                          21/1715
            SHERIFF REPORTED PENNY TO NICKEL HAIL IN CENTERAMA/LSR   362310123
                    OF COUNTY BETWEEN SPEA
  77  A 75  SOUTH BEND IN      (2 ESE SBN)                              21/1720
                                                           IWX/LSR   4168 8627
  78  A100  2 N MIDDLEBURY IN      (31 E SBN)                           21/1721
                                                           IWX/LSR   4170 8571
  80  A 88  1 NE STEUBEN MI      (44 NE ESC)                            21/1724
                                                           MQT/LSR   4620 8644
  79  A100  1 W LAMAR CO      (1 ENE LAA)                               21/1724
            ESTIMATED WIND GUST TO 65 MPH.                 PUB/LSR   380810264
  81  A 75  2 N SMOAKS SC      (23 S OGB)                               21/1725
                                                           CHS/LSR   3312 8081
  85  A100  TIMMONSVILLE SC      (12 WSW FLO)                           21/1730
            NICKEL TO QUARTER SIZE HAIL.                   ILM/LSR   3413 7994
  86  A 75  11 N MEADE KS      (51 S RSL)                               21/1735
                                                           DDC/LSR   3812 9897
  87  A100  GRUVER TX      (28 S GUY)                                   21/1738
            SO RELAYED REPORT OF QUARTER HAIL NEAR GRUVER. AMA/LSR   362610141
  90  A 75  HEBRON IN      (12 SW VPZ)                                  21/1740
                                                           LOT/LSR   4132 8720
  89  A100  SPRINGFIELD CO      (8 N SPD)                               21/1740
                                                           PUB/LSR   374110262
  88  A100  BRYAN OH      (39 W TOL)                                    21/1740
                                                           IWX/LSR   4147 8455
  91  A100  4 WNW NORWAY KS      (14 NW CNK)                            21/1742
                                                           TOP/LSR   3972 9784
  95  A 75  PERRYSBURG OH      (9 ESE TOL)                              21/1754
  99  A100  1 S SPRINGFIELD CO      (6 N SPD)                           21/1800
                                                           PUB/LSR   373910262
 102  A100  2 ESE KANOPOLIS KS      (26 WSW SLN)                        21/1804
                                                           ICT/LSR   3870 9813
 106  A100  3 SW CLEVELAND MS      (19 NE GLH)                          21/1815
                                                           JAN/LSR   3371 9076
 110  A100  3 E OHIOWA NE      (33 WNW BIE)                             21/1833
            NICKEL TO QUARTER SIZED HAIL NEAR COUNTY LINE 1GID/LSR   4041 9739
                    MILE WEST OF HIGHWAY 7
 113  A 75  2 N WARSAW IN      (38 SE SBN)                              21/1839
            SEVERAL TREES BLOWN DOWN                       IWX/LSR   4127 8585
 114  A100  15 S BETHUNE CO      (12 SW ITR)                            21/1840
                                                           GLD/LSR   390910242
 115  A100  7 E HARDESTY OK      (24 ESE GUY)                           21/1842
            SPOTTER DRIVING IN EASTERN TEXAS COUNTY        AMA/LSR   366110107
                    REPORTED QUARTER HAIL
 290  G 52  VERMILION OH      (24 W CLE)                                21/1845
                                                           CLE/LSR   4141 8232
 118  A 88  4 NE OFFERLE KS      (26 ENE DDC)                           21/1845
                                                           DDC/LSR   3793 9951
 117  A 88  4 NE OFFERLE KS      (26 ENE DDC)                           21/1845
                                                           DDC/LSR   3793 9951
 119  A100  9 SSW CONCORDIA KS      (8 SSW CNK)                         21/1846
                                                           TOP/LSR   3945 9773
 121  A 75  4 NW ADRIAN MI      (25 SW ARB)                             21/1850
                                                           DTX/LSR   4194 8410
 120  A100  10 SW ALBION IN      (28 NW FWA)                            21/1850
                                                           IWX/LSR   4129 8556
 122  A100  ALBION IN      (31 NNW FWA)                                 21/1859
                                                           IWX/LSR   4140 8542
 123  A100  AUBURN IN      (26 NNE FWA)                                 21/1900
                                                           IWX/LSR   4136 8506
 124  A 75  3 W DAYKIN NE      (31 W BIE)                               21/1902
                                                           OAX/LSR   4032 9735
 126  A 88  INGALLS KS      (16 ESE GCK)                                21/1903
                                                           DDC/LSR   378310045
 127  A 88  ROLLA KS      (16 ENE EHA)                                  21/1906
                                                           DDC/LSR   371210163
 128  A100  11 NW CHEYENNE WELLS CO      (24 SSW ITR)                   21/1910
                                                           GLD/LSR   389310250
 131  A100  3 NNE MINNEAPOLIS KS      (24 N SLN)                        21/1918
                                                           TOP/LSR   3916 9768
 132  A100  2 W HUGOTON KS      (24 WNW LBL)                            21/1920
                                                           DDC/LSR   371810138
 137  A 75  7 SSE HANSTON KS      (24 NE DDC)                           21/1930
                                                           DDC/LSR   3803 9966
 136  A 75  6 WNW LAVERNE OK      (32 NNW GAG)                          21/1930
                                                           OUN/LSR   367410000
 140  A100  9 SW PERRYTON TX      (41 SE GUY)                           21/1949
            QUARTER HAIL FALLING ON FM 759 AND CO RD 10 IN AMA/LSR   363010092
                    OCHILTREE COUNTY.
 141  A 75  TIFFIN OH      (25 ENE FDY)                                 21/1950
            NEAR OLD FORT.                                 CLE/LSR   4112 8318
 143  A100  4 SW WAKEFIELD KS      (20 W MHK)                           21/1955
                                                           TOP/LSR   3917 9706
 145  A 88  WARREN MI      (12 SW MTC)                                  21/2009
                                                           DTX/LSR   4249 8303
 146  A100  2 S BEVERLY KS      (20 NW SLN)                             21/2015
                                                           ICT/LSR   3898 9798
 148  A 75  14 N DEERFIELD KS      (27 NW GCK)                          21/2025
                                                           DDC/LSR   381810113
 308  G 52  BUFFALO OK      (36 NNE GAG)                                21/2030
                                                           OUN/LSR   3683 9963
 149  A 88  BUFFALO OK      (36 NNE GAG)                                21/2030
                                                           OUN/LSR   3683 9963
 151  A 75  7 NW WRAY CO      (43 SW IML)                               21/2031
                                                           GLD/LSR   401510232
 150  A100  5 E CORTLAND NE      (16 NNE BIE)                           21/2031
                                                           OAX/LSR   4051 9661
 152  A100  FIRTH NE      (17 NNE BIE)                                  21/2035
                                                           OAX/LSR   4053 9660
 153  A100  OTTAWA OH      (18 W FDY)                                   21/2037
                                                           IWX/LSR   4102 8404
 154  A100  11 NNE ABILENE KS      (25 W MHK)                           21/2038
                                                           TOP/LSR   3906 9714
 155  A100  GALATIA KS      (17 SSW RSL)                                21/2045
                                                           ICT/LSR   3864 9896
 156  A100  GILBOA OH      (12 W FDY)                                   21/2054
                                                           IWX/LSR   4102 8392
 158  A 88  1 E CHAPMAN KS      (20 WSW MHK)                            21/2100
                                                           TOP/LSR   3897 9700
 157  A 88  BROOKVILLE KS      (11 W SLN)                               21/2100
            ALSO REPORTED 40 TO 50 MPH WINDS.              ICT/LSR   3877 9787
 159  A100  HICKMAN NE      (17 SSE LNK)                                21/2110
                                                           OAX/LSR   4062 9663
 162  A100  1 N LINDSBORG KS      (13 S SLN)                            21/2115
                                                           ICT/LSR   3859 9767
 161  A100  1 N LINDSBORG KS      (13 S SLN)                            21/2115
                                                           ICT/LSR   3859 9767
 160  A100  1 N LINDSBORG KS      (13 S SLN)                            21/2115
                                                           ICT/LSR   3859 9767
 163  A 75  GREENWICH OH      (13 N MFD)                                21/2125
                                                           CLE/LSR   4103 8252
 164  A100  PALMYRA NE      (21 ESE LNK)                                21/2137
                                                           OAX/LSR   4071 9639
 165  A 88  ASHLAND OH      (10 ENE MFD)                                21/2145
            RTE 89 AND 302.                                CLE/LSR   4087 8232
 167  A100  MONACA PA      (11 N PIT)                                   21/2343
                                                           PBZ/LSR   4068 8027
 168  A 75  1 S ANDOVER KS      (14 E ICT)                              21/2357
                                                           ICT/LSR   3768 9714
 169  A 88  MONTROSE IA      (21 SW BRL)                                22/0423
            AND HEAVY RAIN                                 DVN/LSR   4053 9142
 170  A 75  ETHEL MO      (17 SW IRK)                                   22/0426
            CO-OP REPORTED PEA TO DIME SIZED HAIL.         EAX/LSR   3989 9274
 171  A 75  1 S COLCHESTER IL      (31 SE BRL)                          22/0534
            DIME SIZE HAIL.                                DVN/LSR   4041 9079



