
body {
      background-color: #FFFFFF;
      font-size: 12pt;
      font-family: SansSerif, Arial, Helvetica, sans-serif;
      margin: 10 50 10 50px;
}

body.popup {
	background-color: #ffffcc;
}

.embeddedpopup {
	background-color: #ffffcc;
        border:1px solid #333;	
}

.code { 
	color: #800; 
	padding-left: 30px;
	font-family: monospace;
	font-style: bold;
	border: 1px solid #ccc;
	padding: 25px;
    font-size: 12px;
	background: #f7f7f7;
    margin: 25 50 25 50px;
    background-image: url('images/terminal.gif');
    background-repeat: no-repeat;
}

.table { 
	color: #800; 
	font-family: monospace;
	font-style: bold;
	padding: 0 0 0 25px;
    font-size: 16px;
}

.example { 
	color: green; 
	font-family: monospace;
	font-style: bold;
    font-size: 32px;
    padding-top:20px;
}

.tip { 
    padding: 20px;
    border-left: 2px dashed #ccc;
    font: bold 18px arial;
    color: #2875DE;
    margin: 20 0 20 0px;
}

.exercise { 
    padding: 20px;
    border-left: 2px dashed #ccc;
    font: bold 16px arial;
    color: #000;
    margin: 20 0 20 0px;
}


.note {
    padding: 20px;
    border-left: 2px dashed #ccc;	
    font: bold 16px arial;
    color: #000;
    margin: 20 0 20 0px;
}


.warning { 
    padding: 20px;
    font: bold 18px arial;
    color: #008800;
}


.image { 
    padding: 10px;
    color: #2875DE;
    background: #ccc;

}

.cimg {
    text-align:center;
    margin-top: 20;
    margin-bottom: 40;
}

.caption {
    text-align:center;
    font-style:italic;
}

A.faq-category-link {
    text-decoration: none;
    color: #8080C0;
}

A.faq-category-link:hover {
    text-decoration: underline;
}

A.faq-question-link {
    text-decoration: none;
    color: black;
}

A.faq-question-link:hover {
    text-decoration: underline;
}

.faq-category-title {
    margin-top:10px;
    color: #8080C0;
    font-size: 16pt;
    font-weight: bold;
}


.faq-bottom {
        margin-top:20px;
}

.faq-bottom .faq-question {
   font-weight:bold;
   margin-top:5px;
}

.faq-category {
        margin-left:20px;
}

.titleblock {
    text-align: center;
	font-size: 18pt;
	font-weight: bold;
	margin-top: 15;
	margin-bottom: 5;
    padding-top:0.5em;
    padding-bottom: 1em;
    z-index: -30;
}

.chaptertitle {
    text-align: left;
	font-size: 18pt;
	font-weight: bold;
	color: #8080C0;
    padding: 10 0 10 0px;
    border-bottom: 2px solid #ccc;
}

hr {
 border: 1px solid #ccc;
}

.sectiontitle {
    text-align: left;
	font-size: 14pt;
	font-weight: bold;
	color: #000;
    padding: 30 0 20 0px;
}

.pagetitle {
    text-align: left;
	font-size: 18pt;
	font-weight: bold;
	color: #8080C0;
    padding: 10 0 10 0px;
    border-bottom: 2px solid #ccc;
}

.prevpagetitle {
    width: 100%;
    float: left;
    text-align: left;
	font-size: 14pt;
	font-weight: normal;
	color: #8080C0;
    padding: 10 0 10 0px;
    border-bottom: 2px solid #ccc;
}
.prevpagetitle a{
}

.nextpagetitle {
    width: 100%;
    text-align: right;
    float: right;
	font-size: 14pt;
	font-weight: normal;
	color: #8080C0;
    padding: 10 0 10 0px;
    vertical-align: top;
}

.nextpagetitle a{
}

.pagesubtitle {
    font-size: 14pt;
    font-weight: bold;
    color: #8080C0;
    margin-top: 10;
    margin-bottom: 5;
}

a {
text-decoration: none;
}



li {
       margin-right: 5;
       border: thin;
       border-color: white;
}

ol li {    
        margin-top: 20;
        }

ul li {    
        margin-left:0;
        margin-top: 8;
        }




div.framenav {
     font-size: 8pt;
}

.framelink {
         font-size: 8pt;
}



/*Since applying styles to span tags does not seem to work we use <code class="command">*/

code.param {
    font-style:italic;
    font-size: 12pt;
    font-family: SansSerif, Arial, Helvetica, sans-serif;       
}



code.display {
    font-style:italic;
    font-size: 12pt;
    font-family: SansSerif, Arial, Helvetica, sans-serif;       
}


code.command {
         font-size: 12pt;
         font-family: monospace;       
         font-weight: normal;
         color: #800;
         background: #f7f7f7;
         border: 1px solid #ccc;
         padding-left: 4px;
         padding-right: 4px;
         margin: 4px;
    }
    
.command {
     font-size: 12pt;
     font-family: monospace;       
     font-weight: normal;
     color: #800;
     background: #f7f7f7;
     border: 1px solid #ccc;
     padding-left: 4px;
     padding-right: 4px;
     margin: 4px;
}
    
code.command: a: hover{
        color: #000;
}


code.button {
         font-size: 12pt;
         font-family: SansSerif, Arial, Helvetica, sans-serif;       
         font-weight: bold;
}

code.menu {
         font-size: 12pt;
         font-family: SansSerif, Arial, Helvetica, sans-serif;       
         font-weight: bold;
}

code.dialog {
         font-size: 12pt;
         font-family: SansSerif, Arial, Helvetica, sans-serif;       
         font-style: italic;
         font-weight: bold;
}

code.filename {
         font-size: 12pt;
         font-family: Monospaced, "Courier New", Courier, mono;
         font-style: italic;
}

code.dataset {
         font-size: 12pt;
         font-family: Monospaced, "Courier New", Courier, mono;
}

code.datasource {
         font-size: 12pt;
         font-family: Monospaced, "Courier New", Courier, mono;
}

code.link {
         font-size: 12pt;
         font-family: SansSerif, Arial, Helvetica, sans-serif;       
         text-decoration: underline;
}


.breadcrumb {
      text-decoration: none;
      font-weight: bold;
      font-size: 10pt;
      font-family: SansSerif, Arial, Helvetica, sans-serif}       


.childlist-level {
    font-weigt:bold;
    font-size: 14pt;
    color: #8080C0;
    margin-top: 10;
    margin-bottom: 5;
}

.childlist {
    margin: 10;
    margin-left: 30;
}



.pagesubsubtitle {
    font-size: 12pt;
    font-weight: bold;
    color: #8080C0;
    margin-top: 5;
    margin-bottom: 5;
}



p   {
     margin-top: 10;
     margin-bottom: 0;
}

p.code {
        font-family: Monospaced;
	margin-left: 22;
       }


p.indent1  {margin-left: 3}

p.indent2  {margin-left: 12}

p.indent3  {margin-left: 32}

p.note {margin-top: -19;
	margin-left: 22}

p.table {
     margin-top:0;
     margin-bottom: 0}

blockquote.menu {margin-left: 18;
		margin-top: 10}

center {margin-top: 10}



table {border: none;
       border-color: white;
       margin-top: 5;
       margin-bottom: 5}

td {
    font-size: 12pt;
    font-family: SansSerif, Arial, Helvetica, sans-serif;
    padding-left: 1;
    padding-right: 1;
    padding-top: 1;
    padding-bottom: 1} 


th {padding-left: 1;
    padding-right: 1;
    padding-top: 1;
    padding-bottom: 1}


small {font-size: x-small}

dl.see_also {margin-left: 0;
    margin-top: 10;
    margin-bottom: 10}


.idv {text-decoration: none;background-color: #ffffcc;}

a.idv {text-decoration: none }

a.nounderline {text-decoration: none }

pre {  
        font-family: Monospaced, "Courier New", Courier, mono; 
       }

code {  
        font-family: Monospaced, "Courier New", Courier, mono; 
}

/* DROP DOWN MENU */
#sddm
{	margin: 0;
	padding: 0;
	z-index: 30;}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 11px arial}

#sddm li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	width: ;
	background: #5970B2;
	color: #FFF;
	text-align: center;
	text-decoration: none}

#sddm li a:hover
{	background: #49A3FF}

#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #EAEBD8;
	border: 1px solid #5970B2}

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #EAEBD8;
		color: #2875DE;
		font: 11px arial}

	#sddm div a:hover
	{	background: #49A3FF;
		color: #FFF}

 /*-- dv /nv --*/
 
 .dv {
    color: #ccc;
    font-size: 40px;
    margin-left: -9px;
 }
 
 .nv {
    font: bold 30px arial;
    color: #2875DE;
 }
 
 .mlink a {
    font: bold 12pt monospace;
    color: #215eb1;
    background: #f7f7f7;
    border: 1px solid #ccc;
    padding-left: 4px;
    padding-right: 4px;
    margin: 4px;
 }
 
  .mlink a:hover {
    font: bold 12pt monospace;
    color: #fff;
    background: #2875DE;
    border: 1px solid #ccc;
    padding-left: 4px;
    padding-right: 4px;
    margin: 4px;
 }
 
  .hlink a {
    font: bold 16pt monospace;
    color: #215eb1;
    background: #f7f7f7;
    border: 1px solid #ccc;
    padding-left: 4px;
    padding-right: 4px;
    margin: 4px;
 }
 
  .hlink a:hover {
    font: bold 16pt monospace;
    color: #fff;
    background: #2875DE;
    border: 1px solid #ccc;
    padding-left: 4px;
    padding-right: 4px;
    margin: 4px;
 }
        