# Building generates lots of git diff, so ignored
extlibs/
*.pyc
dist
*.lo
*.o
*.idea
os/
gemglb.nts
last.nts
.libs
.deps
gempak/maps/programs/gsfssf
gempak/source/driver/active/fax/fax
gempak/source/driver/active/gf/gf
gempak/source/driver/active/gif/gif
gempak/source/driver/active/gn/gn
gempak/source/driver/active/nc/nc
gempak/source/driver/active/png/png
gempak/source/driver/active/ps/ps
gempak/source/driver/active/rbk/rbk
gempak/source/driver/active/tiff/tiff
gempak/source/driver/active/utf/utf
gempak/source/driver/active/vg/vg
gempak/source/driver/active/xw/xw
gempak/source/driver/active/xwp/xwp
gempak/source/cgemlib/cvg/convcvg
gempak/source/cgemlib/cvg/dumpvgf
gempak/source/contrib/awc/airmet_bufrvgf/airmet_bufrvgf
gempak/source/contrib/awc/airmet_vgfbufr/airmet_vgfbufr
gempak/source/contrib/awc/gdmlev/gdmlev
gempak/source/contrib/awc/gpanot/gpanot
gempak/source/contrib/awc/gpltln/gpltln
gempak/source/contrib/awc/gpmxplt/gpmxplt
gempak/source/contrib/awc/gprcm/gprcm
gempak/source/contrib/awc/vgToSGWX/vgToSGWX
gempak/source/contrib/awc/vgappend/vgappend
gempak/source/contrib/awc/vggrep/vggrep
gempak/source/contrib/awc/vgmod/vgmod
gempak/source/contrib/cpc/cpcgstn/cpcgstn
gempak/source/contrib/tdl/radmap/radmap
gempak/source/contrib/tdl/radmap/radmap_sw
gempak/source/gplt/gplt/gplt
gempak/source/programs/dc/dcacars/dcacars
gempak/source/programs/dc/dcacft/dcacft
gempak/source/programs/dc/dcairm/dcairm
gempak/source/programs/dc/dccosmic/dccosmic
gempak/source/programs/dc/dccsig/dccsig
gempak/source/programs/dc/dcffa/dcffa
gempak/source/programs/dc/dcffg/dcffg
gempak/source/programs/dc/dcgmos/dcgmos
gempak/source/programs/dc/dcgrib/dcgrib
gempak/source/programs/dc/dcgrib2/dcgrib2
gempak/source/programs/dc/dchrcn/dchrcn
gempak/source/programs/dc/dcidft/dcidft
gempak/source/programs/dc/dcigdr/dcigdr
gempak/source/programs/dc/dcisig/dcisig
gempak/source/programs/dc/dclsfc/dclsfc
gempak/source/programs/dc/dcmetr/dcmetr
gempak/source/programs/dc/dcmsfc/dcmsfc
gempak/source/programs/dc/dcncon/dcncon
gempak/source/programs/dc/dcncprof/dcncprof
gempak/source/programs/dc/dcnexr2/dcnexr2
gempak/source/programs/dc/dcnldn/dcnldn
gempak/source/programs/dc/dcnmos/dcnmos
gempak/source/programs/dc/dcprof/dcprof
gempak/source/programs/dc/dcrdf/dcrdf
gempak/source/programs/dc/dcreanal/dcreanal
gempak/source/programs/dc/dcreanal2/dcreanal
gempak/source/programs/dc/dcredbook/dcredbook
gempak/source/programs/dc/dcredbook/dcredbook_gf
gempak/source/programs/dc/dcredbook/dcredbook_gif
gempak/source/programs/dc/dcredbook/dcredbook_ps
gempak/source/programs/dc/dcredbook/dcredbook_vg
gempak/source/programs/dc/dcscd/dcscd
gempak/source/programs/dc/dcshef/dcshef
gempak/source/programs/dc/dcstorm/dcstorm
gempak/source/programs/dc/dcsuomi/dcsuomi
gempak/source/programs/dc/dcsvrl/dcsvrl
gempak/source/programs/dc/dctaf/dctaf
gempak/source/programs/dc/dctama/dctama
gempak/source/programs/dc/dctrop/dctrop
gempak/source/programs/dc/dcuair/dcuair
gempak/source/programs/dc/dcuspln/dcuspln
gempak/source/programs/dc/dcwarn/dcwarn
gempak/source/programs/dc/dcwatch/dcwatch
gempak/source/programs/dc/dcwcn/dcwcn
gempak/source/programs/dc/dcwcp/dcwcp
gempak/source/programs/dc/dcwmostrip/dcwmostrip
gempak/source/programs/dc/dcwou/dcwou
gempak/source/programs/dc/dcwstm/dcwstm
gempak/source/programs/dc/dcwtch/dcwtch
gempak/source/programs/dc/dcxmos/dcxmos
gempak/source/programs/gd/gd2img/gd2img
gempak/source/programs/gd/gdbiint/gdbiint
gempak/source/programs/gd/gdcfil/gdcfil
gempak/source/programs/gd/gdcntr/gdcntr
gempak/source/programs/gd/gdcross/gdcross
gempak/source/programs/gd/gdcsv/gdcsv
gempak/source/programs/gd/gddelt/gddelt
gempak/source/programs/gd/gddiag/gddiag
gempak/source/programs/gd/gdedit/gdedit
gempak/source/programs/gd/gdfrzl/gdfrzl
gempak/source/programs/gd/gdgrib/gdgrib
gempak/source/programs/gd/gdgrib2/gdgrib2
gempak/source/programs/gd/gdgsfc/gdgsfc
gempak/source/programs/gd/gdinfo/gdinfo
gempak/source/programs/gd/gdlist/gdlist
gempak/source/programs/gd/gdmap/gdmap
gempak/source/programs/gd/gdmod/gdmod
gempak/source/programs/gd/gdobscnt/gdobscnt
gempak/source/programs/gd/gdomeg/gdomeg
gempak/source/programs/gd/gdplot/gdplot
gempak/source/programs/gd/gdplot2/gdplot2
gempak/source/programs/gd/gdplot3/gdplot3
gempak/source/programs/gd/gdpoint/gdpoint
gempak/source/programs/gd/gdprof/gdprof
gempak/source/programs/gd/gdptpdf/gdptpdf
gempak/source/programs/gd/gdpvsf/gdpvsf
gempak/source/programs/gd/gdradr/gdradr
gempak/source/programs/gd/gdradrc/gdradrc
gempak/source/programs/gd/gdstat/gdstat
gempak/source/programs/gd/gdstream/gdstream
gempak/source/programs/gd/gdthgt/gdthgt
gempak/source/programs/gd/gdtopo/gdtopo
gempak/source/programs/gd/gdtser/gdtser
gempak/source/programs/gd/gdtspdf/gdtspdf
gempak/source/programs/gd/gdvint/gdvint
gempak/source/programs/gd/gdwind/gdwind
gempak/source/programs/gd/goftxt/goftxt
gempak/source/programs/gd/gpolyg/gpolyg
gempak/source/programs/gd/grphgd/grphgd
gempak/source/programs/gd/img2gd/img2gd
gempak/source/programs/gp/gpbox/gpbox
gempak/source/programs/gp/gpclear/gpclear
gempak/source/programs/gp/gpclose/gpclose
gempak/source/programs/gp/gpcolor/gpcolor
gempak/source/programs/gp/gpend/gpend
gempak/source/programs/gp/gpfax/gpfax
gempak/source/programs/gp/gpmap/gpmap
gempak/source/programs/gp/gpscat/gpscat
gempak/source/programs/gp/gptcww/gptcww
gempak/source/programs/gp/gptext/gptext
gempak/source/programs/gp/gptpc/gptpc
gempak/source/programs/gui/nalarm/nalarm
gempak/source/programs/gui/naltxt/naltxt
gempak/source/programs/gui/ncolor/ncolor
gempak/source/programs/gui/nfax/nfax
gempak/source/programs/gui/nmap2/nmap2
gempak/source/programs/gui/nsharp/local_Nxmlib.a
gempak/source/programs/gui/nsharp/nsharp
gempak/source/programs/gui/ntl/ntl
gempak/source/programs/gui/ntrans/ntrans
gempak/source/programs/gui/nwx/nwx
gempak/source/programs/na/gd2ndfd/gd2ndfd
gempak/source/programs/na/nagrib/nagrib
gempak/source/programs/na/nagrib2/nagrib2
gempak/source/programs/na/namsnd/namsnd
gempak/source/programs/na/ndfdg2/ndfdg2
gempak/source/programs/oa/oabox/oabox
gempak/source/programs/oa/oabsfc/oabsfc
gempak/source/programs/oa/oabsnd/oabsnd
gempak/source/programs/oa/oagrid/oagrid
gempak/source/programs/sf/sfcfil/sfcfil
gempak/source/programs/sf/sfchck/sfchck
gempak/source/programs/sf/sfcntr/sfcntr
gempak/source/programs/sf/sfcsplt/sfcsplt
gempak/source/programs/sf/sfctime/sfctime
gempak/source/programs/sf/sfdelt/sfdelt
gempak/source/programs/sf/sfdsl604/sfdsl604
gempak/source/programs/sf/sfedit/sfedit
gempak/source/programs/sf/sfgram/sfgram
gempak/source/programs/sf/sfl604/sfl604
gempak/source/programs/sf/sflist/sflist
gempak/source/programs/sf/sfmap/sfmap
gempak/source/programs/sf/sfmod/sfmod
gempak/source/programs/sf/sfstns/sfstns
gempak/source/programs/sf/sfvgsf/sfvgsf
gempak/source/programs/sn/sncfil/sncfil
gempak/source/programs/sn/sncross/sncross
gempak/source/programs/sn/sncross2/sncross2
gempak/source/programs/sn/sndelt/sndelt
gempak/source/programs/sn/sndiag/sndiag
gempak/source/programs/sn/sndslist/sndslist
gempak/source/programs/sn/snedit/snedit
gempak/source/programs/sn/snhodo/snhodo
gempak/source/programs/sn/snlist/snlist
gempak/source/programs/sn/snmap/snmap
gempak/source/programs/sn/snmod/snmod
gempak/source/programs/sn/snprof/snprof
gempak/source/programs/sn/snstns/snstns
gempak/source/programs/sn/sntser/sntser
gempak/source/programs/upc/programs/acprof/acprof
gempak/source/programs/upc/programs/gpfront/gpfront
gempak/source/programs/upc/programs/gpnexr2/gpnexr2
gempak/source/programs/upc/programs/gpnids/gpnids
gempak/source/programs/upc/programs/gpvad/gpvad
gempak/source/programs/upc/programs/gpwarn/gpwarn
gempak/source/programs/upc/programs/nex2gini/nex2gini
gempak/source/programs/upc/programs/nex2img/gemglb.nts
gempak/source/programs/upc/programs/nex2img/nex2img
gempak/source/programs/upc/programs/nexr2rhi/nexr2rhi
gempak/source/programs/upc/programs/nexrcomp/nexrcomp
gempak/source/programs/upc/programs/trajectory/gptraj
gempak/source/programs/util/aodt/aodt
gempak/source/programs/util/areainfo/areaInfo
gempak/source/programs/util/arinfo/arinfo
gempak/source/programs/util/atest/atest
gempak/source/programs/util/bnd2shp/bnd2shp
gempak/source/programs/util/bufrenc/bufrenc
gempak/source/programs/util/clipvgf/clipvgf
gempak/source/programs/util/createbinfo/createbinfo
gempak/source/programs/util/createccfp/createccfp
gempak/source/programs/util/cwordsh/cwordsh
gempak/source/programs/util/dat2pts/dat2pts
gempak/source/programs/util/datetime/datetime
gempak/source/programs/util/dumpvgf/dumpvgf
gempak/source/programs/util/etamap/etamap
gempak/source/programs/util/fips/fips
gempak/source/programs/util/fop/fop
gempak/source/programs/util/freeColors/freeColors
gempak/source/programs/util/joinvgf/joinvgf
gempak/source/programs/util/maps/gsfssf/gsfssf
gempak/source/programs/util/maps/shpcv/shpcv
gempak/source/programs/util/maps/shpssf/shpssf
gempak/source/programs/util/maps/ssfgsf/ssfgsf
gempak/source/programs/util/mdp/mdp
gempak/source/programs/util/mdpspc/mdpspc
gempak/source/programs/util/mkelev/mkelev
gempak/source/programs/util/ndinfo/ndinfo
gempak/source/programs/util/nesdis/spenes
gempak/source/programs/util/nmap_kiosk/nmap_kiosk
gempak/source/programs/util/nodt/nodt
gempak/source/programs/util/plotsyms/plotsyms
gempak/source/programs/util/prob2cat/prob2cat
gempak/source/programs/util/rebun/rebun
gempak/source/programs/util/rfop/rfop
gempak/source/programs/util/sector/sector
gempak/source/programs/util/sigavgf/sigavgf
gempak/source/programs/util/sigbufr/sigbufr
gempak/source/programs/util/spctxt/spctxt
gempak/source/programs/util/spenes/spenes
gempak/source/programs/util/tcacancel/tcacancel
gempak/source/programs/util/tpc2shp/tpc2shp
gempak/source/programs/util/tran2fos/tran2fos
gempak/source/programs/util/vgf2tag/tag2vgf
gempak/source/programs/util/vgf2tag/vgf2tag
gempak/source/programs/util/vgftoascii/vgftoascii
gempak/source/programs/util/vgftobnd/vgftobnd
gempak/source/programs/util/wmostrip/wmostrip
gempak/source/programs/util/woupdt/woupdt
gempak/utilities/bounds/chgCWAcentroid
gempak/utilities/bounds/createbinfo
gempak/utilities/bounds/vgftobnd
gempak/utilities/hlpbld/hlpbld
gempak/utilities/pdfbld/pdfbld

