! enhanced_thunder_13z_last.lpf
!
! Created by Jeremy Grams on 03/10/2009.
!
! This layer product file displays 06z enhanced thunder files as first-guess
! for the 13z enhanced thunder lines. 
!
! Modified on 02/17/2010 to import SREF first-guess for 00-04Z period.
!
!--------------------------------------------------------------------------------
!
! layer 1: Enhanced Thunder 16-20Z Layer
!
<layer1_name>		ENH-20
<layer1_file>  		LAST_ENH20.vgf	
<layer1_output_file>	WORK_ENH20.vgf	
<layer1_group_type>	ENH20
<layer1_display_mode>	Off
<layer1_color_mode>	Mono
<layer1_color_id>	22
<layer1_fill_mode>	On
!
! layer 2: Enhanced Thunder 20-00Z Layer
!
<layer2_name>		ENH-00
<layer2_file>  		LAST_ENH00.vgf
<layer2_output_file>	WORK_ENH00.vgf	
<layer2_group_type>	ENH00
<layer2_display_mode>	Off
<layer2_color_mode>	Mono
<layer2_color_id>	24
<layer2_fill_mode>	On
!
! layer 3: Enhanced Thunder 00-04Z Layer
!
<layer3_name>		ENH-04
<layer3_file>  		SREF_ENH04.vgf	
<layer3_output_file>	WORK_ENH04.vgf	
<layer3_group_type>	ENH04
<layer3_display_mode>	Off
<layer3_color_mode>	Mono
<layer3_color_id>	28
<layer3_fill_mode>	On
!
! Layer 4: Categorical Layer
!
<layer4_name>		GEN-TSTM
<layer4_file>		LAST_GEN-TSTM.vgf
<layer4_output_file>	WORK_GEN-TSTM.vgf
<layer4_group_type>	OUTLOOK
<layer4_display_mode>	Off
<layer4_color_mode>	Mono
<layer4_color_id>	20
<layer4_fill_mode>	Off
